<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="ThunderSE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<runtime>
		<!-- 强制允许捕获损坏状态异常（AccessViolationException 等） -->
		<legacyCorruptedStateExceptionsPolicy enabled="true"/>
	</runtime>
 <userSettings>
  <ThunderSE.Properties.Settings>
   <setting name="AutoWrap" serializeAs="String">
    <value>True</value>
   </setting>
  </ThunderSE.Properties.Settings>
 </userSettings>
</configuration>
